body,
html {
    padding: 0px;
    margin: 0px;
    background-color: #38342c;
    overflow-y: hidden;
}

.banner {
    float: left;
}

h1 {
    transition: 0.5s;
}

h2:hover {
    filter: initial;
}

img {
    float: right;
    display: inline;
    position: relative;
    transition: 0.5s;
}

body:hover .blue {
    filter: brightness(80%) saturate(200%) hue-rotate(0.5rad);
    transition: 0.5s;
}

body {
    height: 100px;
}

h2 {
    filter: unset
}