ul {
    list-style: none;
    z-index: bottom;
    font-size: larger;
}

body {
    background-color: #1e1f1c;
    overflow: hidden;
    z-index: bottom;
}

ul li::before {
    content: "\25AA";
    color: #53554c;
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    z-index: bottom
}