.bar-wrapper {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #1e1f1c;
    display: flex;
    min-height: 1000%;
    min-width: 200px;
    top: 96px;
    z-index: bottom;
    box-shadow: inset 0 5px 6px -5px black;
    overflow-y: hidden;
    flex-direction: column;
    flex: 1;
}

body,
html {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.banner-wrapper {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    z-index: top;
    position: relative;
    box-shadow: 0px 0px 4px black;
    width: 100%;
}

.banner {
    background-color: #38342c;
    display: flex;
    line-height: 0.2;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-indent: 11pt;
    position: relative;
    z-index: top;
    width: 100%;
}

.bar-wrapper iframe {
    margin: 0px;
    padding: 0px;
}

.under-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 95px;
    min-height: 89.9%;
    align-content: center;
    z-index: bottom;
    align-items: stretch;
}

.video {
    max-width: 50%;
}

article {
    position: relative;
    width: 75%;
    font-size: 17pt;
    padding-left: 11pt;
    background: transparent;
}

h1 {
    color: #66D9EF;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #272822;
    color: #dddddd;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #1e1f1c;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background: #474844;
    border-radius: 12px;
}

p,
td {
    font-weight: 100;
    line-height: 25pt;
}

table,
td,
tr {
    border-collapse: collapse;
    border: #dddddd 2px solid;
}

table {
    text-align: center;
}

td,
tr {
    margin: 11pt;
    padding: 5pt;
}

p.subtitle {
    font-size: small;
    font-style: italic;
    text-align: center;
}

td.no {
    color: #F92672;
}

td.ip {
    color: #e6db74
}

td.fi {
    color: #a6e22e
}

samp {
    background-color: #1e1f1c;
    color: #fd971f
}

pre {
    margin-left: 10pt;
    background-color: #22231f;
    font-size: small;
    color: #cccccc
}

h2 {
    font-size: 20pt;
}

a {
    color: #dddddd;
    text-decoration-style: dotted;
}

.shadow-box {
    transition-duration: 0.5s;
    width: fit-content;
    height: fit-content;
}

.shadow-box:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 8px 1px;
    transform: scale(1.05)
}

.image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
}

.image-row img {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

footer {
    align-self: flex-end;
}